* {
    margin: 0%;
    padding: 0%;

}

body {
    background-color: rgb(247, 236, 236);
}

h1 {
    margin: 20px;
    color: rgb(51, 19, 35);
    border: 1px solid rgb(79, 12, 46);
    border-radius: 15px;
    padding: 10px 15px;
}

.main {
    padding: 15px;
    height: 65vh;
    width: 500px;
    margin: 100px auto;
    background-color: rgb(171, 238, 200);

    border-radius: 10px;
    text-align: center;
    border-radius: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.label {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 90px;

    width: 300px;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
    border: none;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

input:hover {
    transition: all, 2s;
    transform: scale(1.05);
}


.ema {
    margin: 10px;
    padding: 8px 10px;

}

.pass {
    margin: 10px;
    padding: 8px 10px;
}

.form {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */

    border-radius: 8px;
    padding: 10px;
}

#email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    margin-left: 111px;
    width: 268px;
}

#password {
    width: 268px;
    display: flex;
    margin-top: 0px;
    border-radius: 8px;
    padding: 10px;
    margin-right: 18px;
    margin-left: 111px;
}

#btn {
    margin-top: 15px;
    color: white;
    background-color: rgb(19, 53, 19);
    border-radius: 8px;
    padding: 10px 22px;
    border: none;
    width: 150px
}

#btn:hover {
    transition: all, 2s;
    transform: scale(1.1);
}